body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
background-color: rgb(173, 163, 255);
}

#container {
    width: 420px;
    margin: 150px auto;
    padding: 35px;
    background-color: #faf3e5;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    color: #2a153c;
}

#resultado {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
}

.card {
border: 1px solid #783d8f;
padding: 10px;
margin: 5px;
width: 130px;
background-color: rgb(216, 213, 248);
}

button {
    background-color: rgb(51, 8, 74);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(108, 98, 191);
}



